body {
    background-color: #448888;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: minmax(600px, 1000px);
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#location {
    font-size: 24px;
    padding: 8px;
}

#content {
    display: grid;
    resize: both;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-content: start;
    row-gap: 32px;
}

#search {
    appearance: none;
    font-size: 24px;
    border-radius: 2em;
    padding: 8px 1em;
}

#search:focus {
    border: 3px solid yellow;
}

.display {
    height: 300px;
    width: 300px;
    margin: 3em;
    background-color: #00f5aa;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.display:hover {
    background-color: #00ffcc;
}

.field-name {
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    
}

.field-value {
    text-align: center;
    margin-top: 1em;
}

#location {
    text-transform: capitalize;
    background-color: #648888;
    text-align: center;
}

#locationForm {
    display: flex;
    align-items: center;
}

#locationForm > button {
    background-image: url(images/search.svg);
    height: 30px;
    width: 30px;
    background-color: inherit;
    border: none;
}

#locationFormButton:hover {
    background-color: yellow;
}